@tailwind base;
@tailwind components;
@tailwind utilities;


.general {
    background-color: #0a2731;
    border: 1px solid #1a7492;
    border-radius: 8px;
    padding-left: 10px;
    margin-bottom: 2rem;
  }

  .wrapper {
    box-shadow: 1px 1px 30px #1a7492;
    border-radius: 1rem;
    height: 100%;
  }

  .border-shadow {
    border: 1px solid #1a7492;
    box-shadow: 1px 1px 10px #1a7492;
  }

